{% extends 'base.html' %}

{% block content %}
    <div>
        <p class="title-about">ABOUT US</p>
    </div>

    <div class="description-us">

        <div class="div-about-image">
            <img src="static/images/icon1.png" width="340" height="320">
            <p>Rakshitha <br>BVRIT Narsapur</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/icon2.png" width="380" height="320">
            <p>Sreeja<br> BVRIT Narsapur</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/icon3.png" width="380" height="320">
            <p>Yashasree<br> BVRIT Narsapur</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/icon4.jpeg" width="380" height="320">
            <p>Abhinaya<br>BVRIT Narsapur</p>
        </div>
        <div class="div-about-image">
            <img src="static/images/icon5.png" width="380" height="320">
            <p>Manaswi<br>BVRIT Narsapur</p>
        </div>
        <div class="div-about-image">
            <img src="static/images/icon6.png" width="380" height="320">
            <p>Vaishnavi<br> BVRIT Narsapur</p>
        </div>
    
    </div>
    
    <div class="about-text">
        As a team of 6 we are trying to pave our way in this unexpected world, we wanted to create a website that emphasizes on mental health awareness. 
        Inspired by the pandemic that impacted many people’s mental health, raising our voices about the importance of mental health sounded like a good 
        first step toward its awareness. We want people to feel comfortable surfing and learning more through our interactive website made for everyone. 
        With that being said, welcome to Mental Care. It's really essential!!!
    </div>
{% endblock %}